.brd_new_thr { display:table-cell; vertical-align:middle; text-align:right; width:100%; font-size:medium; padding:0.5em }
.brd_pages { display:table-cell; vertical-align:middle; text-align:left; min-width:10em; padding:0.5em}
.brd_threads{ width:auto }

.brd_head { width:100%-1em; font-weight:bold; }
.brd_thread_row { width:100%-1em; height:100% }
.brd_thr_title { display:inline-block; width:50%; vertical-align:middle; }
.brd_thr_num { display:inline-block; width:7%; vertical-align:middle; }
.brd_thr_time { display:inline-block; width:14%; vertical-align:middle; overflow-x:visible }


.brd_thread_row:hover { background-color:#F0F0F0; }
.brd_thr_link { display:block }
.brd_thr_page_links { display:inline-block; margin-right:0.3em; margin:0.2em; }
.brd_thr_flags { display:inline-block; font-weight:bold; font-size:x-small; margin:0.2em; }
.brd_thr_flags a {diaplay:inline; color:white; background:blue; text-decoration:none; padding:0 0.3em}
