@font-face {
    font-family: 'FFFTusjBold';
    src: url('../fonts/FFF_Tusj-webfont.eot');
    src: url('../fonts/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FFF_Tusj-webfont.woff') format('woff'),
    url('../fonts/FFF_Tusj-webfont.ttf') format('truetype'),
    url('../fonts/FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link{color:black;}
a:visited{color:black;}
a:hover{font-weight:bold;}

body{
    background-image:url(/imgs/site/mario.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-size:small;
    font-family:verdana;
    margin-left:4%;
    margin-right:4%;
    padding:2%;
    text-align:center;
}

div.banner {
    font-family:'FFFTusjBold';
    font-size:80px;
    text-shadow: 0px 15px 11px #363536;
}

table.noshow, table.noshow td, table.noshow tr{ border-style:none; border:none; }

.quote, .code{
    width:96%;
    margin-left:0%;
    margin-right:4%;
    border:1px solid;
    border-radius:3px;
    padding:1%;
    background-color:#e5e5e5;
    overflow-x:auto;
}
.quote_content { margin-top:0.5em; }

/* misc */
table img.profile_img{ max-width:80%; max-height:180px; }
.clear {clear:both}
hr {width:97%}
.time {font-size:x-small}
h2 {margin:0; padding:0}

/* Buttons */
.button {
    border:1px solid black;
    border-radius:0.4em;
    background-color:white;
    color: black;
    width:6em;
    font-size:small;
    font-weight:bold;
}
.button:hover {cursor:pointer}

/* Favorite icon */
img.favicon {width:2em; height:2em}

/* Expandable areas */
.expandable {border:1px solid black; border-radius:7px; padding:0.5em; ;}
.button_exp {width:1.5em}
.hidden {display:none; margin-top:0.5em; }

/* Embedded media */
.media {margin: 0.5em; }

/* Standard container */
.container {
    background:white;
    padding:1em;
    margin:1em;
    border:4px solid grey;
    border-radius:7px;
}

/* For user profiles */
.usrp { overflow-x:auto; }
.usrp_name { font-size:medium; }
.usrp_avatar { width:70%; max-height:80%; margin:0.5em }
.usrp_karma { font-size:x-small; }
.usrp_karma_p { display:inline; font-size:small; }
.usrp_karma_m { display:inline; font-size:small; }

/* Common title/footer bar */
.title_bar {
    text-align:left;
    vertical-align:middle;
    font-weight:bold;
}

/* Titled boxes */
.tbox_title {
    font-weight:bold;
    background-color:blue;
    color:white;
    padding:1em;
    border:4px solid grey;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}
.tbox_title_x { width:1.5em; float:right }
.tbox_title_xmin {
    color:grey;
    background:none;
    border:1px solid grey;
    border-top:none;
    border-right:none;
    border-radius:0;
    border-bottom-left-radius:0.4em;
    float:right;
    display:inline;
    font-size:x-small;
    width:auto;
}

.tbox_content {
    background-color:white;
    border:4px solid grey;
    border-top:none;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}
.tbox_content_pad {
    padding:1em;
}

/* Overlays */
.overlay {
    position:fixed;
    left:0;
    right:0;
    margin:auto;
    visibility:hidden;
}
.overlay .xbutton { float:right; }
