@font-face {
    font-family: 'FFFTusjBold';
    src: url('../fonts/FFF_Tusj-webfont.eot');
    src: url('../fonts/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FFF_Tusj-webfont.woff') format('woff'),
    url('../fonts/FFF_Tusj-webfont.ttf') format('truetype'),
    url('../fonts/FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
a:link{color:black;}
a:visited{color:black;}
a:hover{font-weight:bold;}
body{
    background-image:url(mario.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-size:small;
    font-family:verdana;
    margin-left:4%;
    margin-right:4%;
    text-align:center;
}
table, td, th, tr{
    border-collapse:collapse;
    border:1px solid #AAA;
    padding:0.3em;
    table-layout:fixed;
    background:#ffffff;
/*    border-radius:.5em;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;*/
    font-size:small;
    font-family:sans-serif;
    overflow:auto;
}

div.banner {
    font-family:'FFFTusjBold';
    font-size:80px;
    text-shadow: 0px 15px 11px #363536;
}
table.thread_header, table#threads, table.posts {
    width:100%;
}
table.noshow, table.noshow td, table.noshow tr{
    border-style:none;
    border:none;
}
div.quote{
    width:96%;
    margin-left:0%;
    margin-right:4%;
    margin-bottom:1%;
    margin-top:1%;
    border:1px solid;
    border-radius:3px;
    padding:1%;
    background-color:#e5e5e5;
    overflow-x:auto;
}

table img.profile_img{ max-width:80%; max-height:180px; }
form { text-align:center; }
.button {
    border-color:#000000;
    border:1px solid;
    background-color:#ffffff;
    width:6em;
    font-size:small;
    font-weight:bold;
    border-radius:0.4em;
}
.button:hover { cursor:pointer; }
.clear { clear:both; }
hr { width:97% }
.time { font-size:x-small; }

/* For list of threads */
a.makenew{ text-decoration:none }
a.thread{ text-decoration:none }
div.posts{ text-align:center }
*.noshow{ border-style:none; border:none; }
table#threads {text-align:center}
*.new_thr{ font-weight:bold; font-size:medium; }
th.thr_title { width:50% }
th.num { width:7% }
th.thr_time { width:18% }
.thr_page_link { font-size:x-small }
.thr_flags { color:blue; font-weight:bold }

/* For board view */
div.board_header {
    text-align:left;
    background:white;
    padding-top:1em;
    padding-bottom:1em;
    width:100% - 4px;
    margin-top:1%;
    margin-bottom:1%;
    border:2px solid grey;
    border-radius:7px;
}
div.board_new_thr { float:right; margin-right:2%; font-weight:bold; font-size:medium; }
div.board_pages { float:left; margin-left:2%; font-weight:bold; }
div.board_threads{ background:white; border:2px solid grey; border-radius:7px; padding:1%; }
div.board_top { font-weight:bold; border-bottom:2px solid grey; padding:0%; padding-bottom:0.5em; }
div.board_thr_title { width:50%; float:left; }
div.board_thr_num { width:7%; float:left; }
div.board_thr_time { width:18%; float:left; }
div.board_thread_row { border-bottom:1px solid grey; width:100%; padding-top:0.5em; padding-bottom:0.5em;
                     vertical-align:middle; height:100%; }
div.board_thread_row:hover { background-color:#F0F0F0; }
div.board_thread_row * { height:100%; }
div.board_thr_page_links { display:inline; margin-right:0.3em; }
div.board_thr_flags { display:inline; margin-left:0.3em; font-weight:bold; color:blue; }

/* For user profiles */
div.user_prof {
    width:19%;
    padding-top:2%;
    padding-bottom:2%;
    background:white;
    border:2px solid grey;
    border-radius:7px;
    overflow-x:auto;
    float:left;
}
div.user_prof_name { font-size:medium; }
img.user_prof_avatar { width:70%; max-height:80%; margin-top:1%; margin-bottom:1% }
div.user_karma { font-size:x-small; }
div.user_karma_plus { display:inline; font-size:small; }
div.user_karma_minus { display:inline; font-size:small; }

/* For individual threads */
div.thread_title_bar {
    text-align:left;
    background:white;
    padding-top:1em;
    padding-bottom:1em;
    width:100% - 4px;
    margin-bottom:1%;
    font-weight:bold;
    border:2px solid grey;
    border-radius:7px;
}
div.thread_title { font-size:medium; float:right; margin-right:2%; }
div.thread_board { display:inline; margin-left:2%; }
div.thread_pages { display:inline; margin-left:3%; }
div.post { width:100%; margin-bottom:2%; }
div.post_content {
    width:79%;
    text-align:left;
    float:right;
    background:white;
    border:2px solid grey;
    border-radius:7px;
}
div.post_text { overflow-x:auto; padding:2%; min-height:100px; }
div.post_karma_plus { padding-left:2%; font-size:x-small; }
div.post_karma_minus { padding-left:2%; font-size:x-small; }
div.post_footer { vertical-align:bottom; }
div.post_time { float:left; padding-bottom:1%; padding-left:2%; font-size:x-small; }
div.post_controls{ float:right; padding-bottom:1%; padding-top:1%; padding-right:2%; }

/* Editing a post */
div.post_edit { text-align:center; width:80%; margin-left:10%;}
div.post_edit .title { width:100%; }
div.post_edit textarea { width:100%; resize:vertical; }
div.post_edit .button { margin:0.3em; margin-top:0.5em }

/* Making a new post */
form#new_post { margin-top:2%; width:100%; margin-bottom:5%;}
form#new_post .button { margin:0.3em; }
textarea.new_post {
    width:80%;
    margin-left:10%;
    margin-right:10%;
    resize:vertical;
    min-height:20em;
    height:20em;
    border:2px solid grey;
    border-radius:7px;
}

/* For user profile page */
table#user_profile { text-align:center; width:100%; margin-left:0% }
.subprofile{ width:30%; }
.recent_posts { text-align:left; padding-left: 1em }
.recent_karma { text-align:left; padding-left: 1em }

/* For making new threads */
form.newthr_form  { margin-left:10%; margin-right:10%; width:80% }
input.newthr_title { margin-left:10%; margin-right:10%; width:80% }
textarea.newthr_body { margin-left:10%; margin-right:10%; width:80%; resize:vertical }

/* Sidebar */
div.sidebar_trigger {
    position:fixed;
    background-color:blue;
    color:white;
    right:0;
    top:20%;
    vertical-align:bottom;
    height:6.5em;
    width:2em;
    border:2px solid grey;
    border-right:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
div.sidebar_trigger_text {
    font-weight:bold;
    padding:0.2em;
    text-transform:uppercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position:relative;
    top:4.2em;
}
div.sidebar {
    vertical-align:center;
    text-align:center;
    right:1%;
    top:5%;
    width:18%;
    position:fixed;
    visibility:hidden;
}
div.sidebar_item {
    padding:0.4em;
    border-left:2px solid;
    border-right:2px solid;
    border-bottom:2px dotted;
    border-color:grey;
    background:white;
    font-size:small;
}
table.chat_table{ max-height:100%; }
div.sidebar_users { max-height:15%; overflow-y:auto; }
div#sidebar_welcome {
    font-weight:bold;
    border-top:2px solid grey;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
div#sidebar_chat { max-height: 20% }
div#sidebar_chat_msgs { text-align:left; border:1px solid grey; border-radius:3px; overflow-y:auto; }
form#chat_input { width:95%; }
textarea#chat_post { width:100%; }
div#sidebar_version {
    border-bottom:2px solid grey;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}