/* Place the user profile */
.usrp_box{ width:20%; float:left;}

.title_bar {display:table; padding:1%;}
.thr_brd {display:table-cell; vertical-align:middle; min-width:4em; padding:0.5em;}
.thr_pg {display:table-cell; vertical-align:middle; min-width:10em; padding:0.5em;}
.thr_ttl {display:table-cell; width:100%; vertical-align:middle; text-align:right; padding:0.5em; font-size:large}
.thr_fav {display:table-cell; vertical-align:middle; padding:0.5em}

.post { margin-bottom:2%;}
.content_box {
    width:80%;
    float:right;
}
.post_content {
    text-align:left;
}
.post_text { overflow-x:auto; margin:1em; min-height:100px; }
.post_karma_plus { padding-left:2%; font-size:x-small; }
.post_karma_minus { padding-left:2%; font-size:x-small; }
.post_sig { padding:0% 2%; }
.post_sig img {max-height:200px}
.post_footer { display:table; width:96%; margin:1% 2%; }
.post_time { display:table-cell; text-align:left; width:50%; font-size:x-small; }
.post_controls{ display:table-cell; text-align:right; width:50%; vertical-align:bottom }

/* Editing a post */
.post_edit { text-align:center; width:80%; margin-left:10%; margin-top:1em}
.post_edit .title { width:100%; }
.post_edit textarea { width:100%; resize:vertical; }
.post_edit .button { margin:0.3em; margin-top:0.5em }

/* Making a new post */
form#new_post { margin-top:2%; width:100%; margin-bottom:5%;}
form#new_post .button { margin:0.3em; }
textarea.new_post {
    width:80%;
    margin: 0 10%;
    padding:0.3em;
    resize:vertical;
    min-height:20em;
    height:20em;
    border:4px solid grey;
    border-radius:7px;
}

