/* Place the user profile */
.usrp_leftcol {
    width:19%;
    float:left;
}

.usrp {
  margin:1em 0;
}

.usrp_links {
    margin:1em 0;
    border:4px solid gray;
    border-radius:7px;
    background:white;
}
.usrp_links ul {list-style:none outside; margin:0.5em 0; padding:0.5em}
.usrp_links ul li {margin:0.5em}
.usrp_links ul li a{font-weight:bold}

/* Div of selected items to view */
.usrp_content {
    width:79%;
    text-align:center;
    float:right;
}
