/* Place the user profile */
.usrp_leftcol {
    width:19%;
    float:left;
}

.usrp {
  margin:1em 0;
}

.usrp_links {
    margin:1em 0;
    border:3px solid gray;
    border-radius:7px;
    background:white;
}
.usrp_links ul {list-style:none outside; margin:0.5em 0; padding:0.5em}
.usrp_links ul li {margin:0.5em}
.usrp_links ul li a{font-weight:bold}

/* Div of selected items to view */
.usrp_content {
    width:79%;
    text-align:center;
    float:right;
}

/* User profile table general settings */
th.usrp_tbl_label { width:30% }
th.usrp_tbl_value { width:70% }
.usrp_container {background:white; border:3px solid grey; border-radius:7px; margin:1em 0}
.usrp_tbl {margin:2% 10%; width:80%; text-align:left}

/* User profile edit */
.usrp_edit_msg, .usrp_pw_msg {font-weight:bold; margin:0.5em}
.usrp_tbl input {width:40%}
.usrp_tbl input#avatar {width:100%}
.prof_edit_sig { width:100%; height:5em; resize:vertical; }
.settings_btn {margin:0.5em 0.2em}


